
.logo-container {
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif; 
    color: white;
  }
  
  .logo-icon {
    font-size: 3rem; 
    margin-right: 10px;
    color: #ff3366;  
    transition: transform 0.3s ease;
  }
  
  .logo-icon:hover {
    transform: rotate(360deg); 
  }
  
  .logo-text {
    font-size: 2rem; 
    font-weight: 700;
    display: flex;
  }
  
  .sugar {
    color: #ff3366; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
  }
  
  .r-media {
    color: #00aaff;  /* Blue color for 'R Media' for contrast */
    letter-spacing: 1px;
    background: linear-gradient(90deg, rgba(0,170,255,1) 0%, rgba(0,255,255,1) 100%);  /* Cool gradient effect */
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .logo-container:hover .sugar {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); 
  }
  
  
  